.popup__input {
  padding: 0 0 10px;
  margin: 30px 36px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  max-width: 358px;
  line-height: 17px;
  border: 0;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  outline: none;
}

@media screen and (max-width: 880px) {
  .popup__input {
    margin: 30px 22px 0;
  }
}
