.profile {
  padding: 40px 0 0;
  display: grid;
  grid-template-columns: 128px 1fr 150px;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .profile {
    padding: 42px 19px 0;
    grid-template-columns: minmax(auto, 100%);
    justify-items: center;
  }
}
