.popup__button {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: black;
    color: #ffffff;
    min-height: 50px;
    min-width: 358px;
    border-radius: 2px;
    margin: 48px 36px 37px;
    padding: 0;
    transition: opacity 0.5s;
    border: 0;
    outline: none;
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 880px) {
    .popup__button {
        font-size: 14px;
        line-height: 17px;
        margin: 45px 22px 25px;
        min-height: 46px;
        min-width: 238px;
    }
}
