.element__like {
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-size: cover;
    height: 19px;
    width: 22px;
    transition: opacity 0.5s;
    border: 0;
    outline: none;
    background-color: transparent;
    z-index: 1;
}

.element__like:hover {
    opacity: 0.5;
    cursor: pointer;
}